<?xml version="1.0"?>
<configuration>
    <system.webServer>
        <!-- Enable Gzip compression -->
        <urlCompression doStaticCompression="true" />
        
        <!-- Enable static content caching -->
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
        </staticContent>
        
        <!-- Enable dynamic content caching -->
        <caching>
            <profiles>
                <add extension=".aspx" policy="CacheForTimePeriod" duration="00:00:30" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>
